header.masthead {
    position: relative;
    background-color: #343a40;
   
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  header.masthead:before {
    content: "";
    position: absolute;
    background-color: #1c375e;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
  }
  header.masthead h1, header.masthead .h1 {
    font-size: 2rem;
  }
  @media (min-width: 768px) {
    header.masthead {
      padding-top: 12rem;
      padding-bottom: 12rem;
    }
    header.masthead h1, header.masthead .h1 {
      font-size: 3rem;
    }
  }

  
  .navbar-brand{
    color: #1c375e
  }
  
  .nav-links {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .nav-links li {
    display: inline-block;
    margin-right: 30px;
    text-decoration: none;
    color:#1c375e;
  }
  
  .nav-links li a{
    text-decoration: none;
    color: #1c375e;
  }

  .brand a {
    text-decoration: none;
    color: #1c375e;
  }
  
  .nav-links li:last-child {
    margin-right: 0;
  }